@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&family=Reem+Kufi+Ink&display=swap');

.reem-kufi {
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}